@import url(./root.css);

@font-face {
    font-family: "Normalidad";
    src: url(../font/NormalidadCompact-Medium.ttf);
}

.bg-image {
    background-image: url(../image/png/header-bg-img.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-image-2 {
    background-image: url(../image/png/section-3-img.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-3 {
    background-image: url(../image/png/section-4-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

/***** max-width *****/
.max-w-307 {
    max-width: 307px;
}

.max-w-420 {
    max-width: 420px;
}

.max-w-432 {
    max-width: 432px !important;
}

.max-w-460 {
    max-width: 460px;
}

.max-w-538 {
    max-width: 538px;
}

.max-w-621 {
    max-width: 621px !important;
}

.max-w-835 {
    max-width: 835px;
}

.max-w-991 {
    max-width: 991px;
}

.max-w-1048 {
    max-width: 1048px;
}

.max-w-1344 {
    max-width: 1344px;
}

.max-w-1440 {
    max-width: 1440px !important;
}

/***** margin padding *****/
.pl-8 {
    padding-left: 8px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.mb-56 {
    margin-bottom: 56px;
}

.pt-95 {
    margin-top: 95px;
}

.pl-96 {
    padding-left: 96px;
}

/***** margin *****/
.mt-12 {
    margin-top: 12px !important;
}

.mt-20 {
    margin-top: 20px;
}

.ml-24 {
    margin-left: 24px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-47 {
    margin-top: 47px;
}

.mt-57 {
    margin-top: -57px;
}

.mt-96 {
    margin-top: 96px;
}

.mb-96 {
    margin-bottom: 96px;
}

.mt-181 {
    margin-top: 181px !important;
}

/***** opacity *****/
.opacity-40 {
    opacity: 40%;
}

.opacity-60 {
    opacity: 60%;
}

/***** gap *****/
.gap-12 {
    gap: 12px;
}

/***** line-height *****/
.lh-16 {
    line-height: 16px;
}

.lh-20 {
    line-height: 20px;
}

.lh-24 {
    line-height: 24px;
}

.lh-36 {
    line-height: 36px;
}

.lh-86 {
    line-height: 86px;
}

.letter-spacing-3 {
    letter-spacing: 3.2px;
}

/***** nav-bar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: var(--color-white);
}

.cursor-pointer {
    cursor: pointer;
}

.header-logo {
    padding-left: 24px;
    padding-right: 24px;
}

.header-logo-image {
    height: 16px;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5 !important;
}

.dropdown-btn {
    padding: 18px 24px;
    background-color: var(--bg-river-styx);
}

.dropdown-box {
    border-top: none !important;
    border-bottom: none !important;
    border: 1px solid var(--bg-black-pearl);
}

.dropdown-toggle::after {
    display: none;
}

/***** header *****/
.carousel-control-prev-icon {
    background-image: url(../image/svg/left-arrow.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(../image/svg/right-arrow.svg) !important;
}

.carousel-indicators [data-bs-target] {
    width: 48px;
    height: 4px;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 24px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
    opacity: 100%;
}

.carousel-indicators .active {
    background-color: var(--bg-lime-yellow) !important;
    opacity: 100% !important;
}

.carousel-indicators {
    transform: translateY(-231px);
}

.hero-content {
    transform: translateY(-270px);
}

.trasform-translateY-15 {
    transform: translateY(15px);
}

.nav-links {
    border-radius: 40px;
    padding: 2px 8px 2px 8px;
}

.btn-1 {
    border-radius: 12px;
    border: 1px solid var(--bg-river-styx);
    padding: 12px 16px 12px 16px;
    transition: all 200ms linear;
}

.btn-1:hover {
    color: var(--bg-lime-yellow) !important;
    border: 1px solid var(--bg-lime-yellow) !important;
}

.btn-2 {
    border-radius: 12px;
    border: none;
    padding: 12px 16px 12px 16px;
    transition: all 200ms linear;
}

.btn-2:hover {
    color: var(--bg-lime-yellow) !important;
    background-color: var(--bg-black-pearl);
}

.btn-3 {
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    border: none;
    transition: all 300ms linear;
}

.btn-3:hover {
    color: var(--bg-lime-yellow) !important;
    background-color: var(--bg-black-pearl);
}

/***** section-2 *****/
.card-1 {
    width: 318px;
    height: 408px;
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
    background: var(--Colors-Neutrals-Neutral-800, var(--bg-ruined-smores));
    border: 1px solid var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
    backdrop-filter: blur(40px);
}

.slick-track {
    display: flex !important;
    gap: 24px;
}

.coming-soon-img {
    top: 0%;
    left: 0;
}

.slider-img {
    width: 286px !important;
    height: 304px !important;
    width: 100% !important;
}

/***** section-3 *****/
.video {
    border-radius: 16px !important;
    width: 888px !important;
    height: 480px !important;
}

.mb-103 {
    margin-bottom: 103px;
}

/***** section-4 *****/
.icon-parent {
    width: 114px;
    gap: 8px;
    border-radius: 72px;
    padding: 8px 12px 8px 12px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
}

.icon-parent-2 {
    width: 132px;
    gap: 8px;
    border-radius: 72px;
    padding: 8px 12px 8px 12px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
}

.compete-btn {
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    border: none;
    transition: all 300ms linear;
}

.compete-btn:hover {
    color: var(--bg-lime-yellow) !important;
    background-color: var(--bg-black-pearl);
}

/***** section-5 *****/
.left-border {
    border-left: 3px solid var(--Accent-Colors-accent-color-base, var(--bg-lime-yellow));
    gap: 16px;
}

.box {
    width: 77px;
    height: 32px;
    border-radius: 48px;
    padding: 8px 12px 8px 12px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
    transform: translateY(-28px);
}

.box-2 {
    width: 69px;
    height: 24px;
    border-radius: 48px;
    padding: 4px 8px 4px 8px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
}

.bg-color {
    width: 480px;
    height: 174px;
    width: 100%;
    padding: 16px 24px 24px 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--Colors-Neutrals-Neutral-800, var(--bg-ruined-smores));
}

.background-color {
    padding: 15px 24px 24px 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: var(--Colors-Neutrals-Neutral-800, var(--bg-ruined-smores));
    width: 100%;
    height: 208px;
}

.img-fluid {
    width: 668px;
    height: 360px;
    width: 100%;
}

.horse-img,
.game-character-img,
.paracute-img {
    width: 180px;
    height: 173px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/***** section-6 *****/
input {
    max-width: 404px !important;
    width: 100%;
    border-radius: 12px;
    padding: 12px 16px 12px 16px;
    z-index: 1;
    color: var(--color-dark-sea);
    background: var(--Colors-Neutrals-Neutral-800, var(--bg-ruined-smores));
    border: none;
}

.bg-color-3 {
    width: 40px;
    border-radius: 12px;
    padding: 12px;
    background: var(--Colors-Neutrals-Neutral-700, var(--bg-river-styx));
}

.svg {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.section-6-img {
    top: 19%;
    right: 0;
}

.blur-img {
    position: absolute;
    left: 0;
    bottom: -35%;
    z-index: -1;
}

/***** footer *****/
.line {
    border: 1px solid var(--Colors-Neutrals-Neutral-600, var(--bg-black-pearl));
}

.email {
    background-color: var(--color-black);
    color: var(--color-dark-sea);
}

.box-3 {
    border-radius: 12px;
    padding: 12px;
}

.bg-color-4 {
    background-color: var(--bg-ruined-smores);
}

.link {
    transition: all 200ms linear;
}

.link:hover {
    color: var(--bg-lime-yellow);
}

.icon {
    transition: all 200ms linear;
}

.icon:hover {
    transform: translateY(-10px);
}

/***** media-queries *****/
@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: black !important;
    }

    .show-navbar {
        right: 0 !important;
    }

    .ml-8 {
        margin-left: 0px !important;
    }

    .mt-57 {
        margin-top: -15px;
    }

    .bg-image-2 {
        background-size: cover;
    }
}

@media (max-width:777.98px) {

    .btn-left-img,
    .btn-right-img {
        display: none;
    }
}

@media (max-width:767.98px) {
    .ml-24 {
        margin-left: 0px;
    }

    .video {
        width: 100% !important;
    }

    .lh-86 {
        line-height: normal;
    }

    .mt-57 {
        margin-top: -10px;
    }
}

@media (max-width:575.98px) {
    .pl-96 {
        padding-left: 20px;
    }

    .section-4-img {
        width: 100%;
    }

    .horse-img,
    .game-character-img,
    .paracute-img {
        width: 100%;
        height: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .bg-color {
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
        padding: 16px 24px 24px 10px;
    }
}